* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
}

header{
  z-index: 1;
  position: sticky ; 
  top: 0;
}

.barraHeader .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

.cajaVideo video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.cajaVideo::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.503);
  width: 100%;
  height: 100%;
  position: absolute;
  position: fixed;
  z-index: -1;

}



.navbar-toggler {
  border: 1px solid rgb(255, 255, 255); }

.linkNav{
  color: white;
  margin-right: 2rem;
  font-weight: lighter;
  font-size: 1.5em;
}

.linkNav:hover{
  color: rgb(161, 161, 161);
}


.slider{
  filter: brightness(50%);
  width: 100%;
  height: 92vh;
  object-fit: cover;
}

.textoSlide{
  position:absolute;
  left: 15%;
  top: 38%;
}

.botonSlider{
 color: rgb(242, 242, 242);
  width: 40%;
  margin-top: 3rem;
  background-color: rgba(77, 77, 77, 0.751);
  border-radius: 2rem;
}

.botonSlider:hover{
  background-color: rgba(67, 67, 67, 0.751);
  color: rgb(255, 255, 255);

}

.tittle{
  font-weight: lighter;
  font-size: 3rem;
  line-height: 5rem;
}

@media(max-width: 1000px){
  hr{
    margin: 5rem 0rem;
  }

  .tittle{
    font-size: 2rem;
    line-height: 3.5rem;

  }
  .slider{
    height: 80vh;
  }
}

@media (max-width:425px){
  .tittle{
   font-size: 1.6rem;
   line-height: 2.5rem;
  }
  .slider{
    height: 70vh;
  }
  

}

.tituloPrincipal{
  line-height: 4.5rem;
  color: white;
  text-align: center;
  font-weight: 100;
}
@media (max-width:450px){
  .tituloPrincipal{
    line-height: 3rem;
  }
  
}

.grilla{
  display: flex;
}


.nosotros-grilla{
  text-decoration: none;
  border: 1px solid rgb(121, 121, 121);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../assets/img/boss.png");
  background-size: cover;
  object-fit: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.nosotros-grilla:hover{
  color: #d6d6d6;
}

.info-nueva-grilla{
  text-decoration: none;
  border: 1px solid rgb(121, 121, 121);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/info.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin-bottom: 2rem;
  
}

.info-nueva-grilla:hover{
  color: #d6d6d6;
}

.galeriaGrilla{
  text-decoration: none;
  border: 1px solid rgb(121, 121, 121);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../assets/img/galeria2.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center 20%  ;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-radius: 1rem;
}

.galeriaGrilla:hover{
color: #d6d6d6;
}


.tituloGrilla{
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: lighter;
}

.textoGrilla{
  margin: 0rem 5rem;
  font-weight: lighter;
  font-size: 25px;
}

@media (max-width:450px){
  .textoGrilla{
    margin: 0rem 2rem;
    font-size: 20px;
  }
  .tituloGrilla{
    font-size: 30px;
  }
  .galeriaGrilla{
    height: 35vh;
  }
  .nosotros-grilla{
    height: 35vh;
  }
  .info-nueva-grilla{
    height: 35vh;
  }
}

.subtitulo{
  line-height: 4.5rem;
  color: white;
  text-align: center;
  font-weight: 100;
}

@media (max-width:450px){
  .subtitulo{
    line-height: 3rem;
  }
}

.imagenMedioambiente{
  width: 100%;
}

@media (max-width:768px) {
  .imgMedioambiente{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .imagenMedioambiente{
    height: 20rem;
    width: 20rem;
    
  }
  
}

.contenidoMedioambiente{
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.tituloMedioambiente{
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.textoMedioambiente{
  color: white;
  line-height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}